@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost&family=Montserrat:wght@600&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --start-color: #45518C;
    --end-color: #147161;
    --gradient-direction: 45deg;
    --background-color: #FCFBFD;
    --text-color: #000000;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*specific styles*/
:root {
    --start-color: #45518C;
    --end-color: #147161;
    --gradient-direction: 45deg;
    --background-color: #FCFBFD;
    --text-color: #000000;
    --nav-text-color: white;
    --blue-button-color: #DAF2F6;
    --main-gradient-hover: #162c29;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.button {
    font-family: 'Jost', 'Inter', sans-serif;
}

.hero-small-text {
    font-family: 'Jost', 'Inter', sans-serif;
}

.main-gradient-button {
    background: linear-gradient(var(--gradient-direction), var(--start-color), var(--end-color));
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    box-shadow: 1px 1px var(--main-gradient-hover),
    2px 2px 1px var(--main-gradient-hover),
    3px 3px 1px var(--main-gradient-hover);
    transition: all 0.3s;
}

.main-gradient-button:hover {

    transform: translate(-5px, -5px);
    box-shadow: 1px 1px var(--main-gradient-hover),
    2px 2px var(--main-gradient-hover),
    3px 3px var(--main-gradient-hover),
    4px 4px var(--main-gradient-hover),
    5px 5px var(--main-gradient-hover),
    6px 6px var(--main-gradient-hover),
    7px 7px var(--main-gradient-hover),
    8px 8px var(--main-gradient-hover),
    9px 9px var(--main-gradient-hover);
    transition: all 0.3s;
}

.main-gradient-text {
    background: -webkit-linear-gradient(var(--gradient-direction), var(--end-color), var(--start-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-gradient-text:hover {
    background: -webkit-linear-gradient(var(--gradient-direction), var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}

.blue-button {
    background-color: var(--blue-button-color);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    box-shadow: 1px 1px var(--end-color),
    2px 2px 1px var(--end-color),
    3px 3px 1px var(--end-color);
    transition: all 0.3s;
    margin-left: 15px;
}

.blue-button:hover {
    transform: translate(-5px, -5px);
    box-shadow: 1px 1px var(--end-color),
    2px 2px var(--end-color),
    3px 3px var(--end-color),
    4px 4px var(--end-color),
    5px 5px var(--end-color),
    6px 6px var(--end-color),
    7px 7px var(--end-color),
    8px 8px var(--end-color),
    9px 9px var(--end-color);
    transition: all 0.3s;
}
