body {
    background-image: url("../assets/background_optimised.svg");
    background-repeat: repeat;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.memoji {
    margin-left: auto;
    margin-top: 20vh;
    margin-right: 5vw;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.memoji:hover {
    transform: scale(0.95) rotate(-5deg);
    transition: transform 0.2s ease-in-out;
}

.home-blob {
    position: absolute;
    top: 0;
    right: 0;
    /*width: max(500px, 25%);*/
    /*min-width: 500px;*/
    z-index: -1;
}

.bg-icons {
    position: fixed;
    top: -10vh;
    left: 0;
    width: 100vw;
    /*height: 100vh;*/
    z-index: 3;
}

@media (max-width: 900px) {
    body {
        background-image: url("../assets/background.png");
        background-repeat: repeat;
    }

    .home-blob {
        display: none;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15vh;
    }

    .home-text {
        width: 87vw !important;
        top: 10vh;
    }

    .hero-text {
        font-size: 2.5rem !important;
    }

    .hero-subtext {
        font-size: 1.8rem !important;
    }

    .hero-small-text {
        font-size: 1.2rem !important;
    }


    .memoji {
        display: none;
    }
}

.home-text {
    /*font-size: 1.6rem;*/
    width: 45vw;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 2;
}

.hero-text {
    font-size: 3.5rem;
}

.hero-subtext {
    font-size: 2.1rem;
}

.hero-small-text {
    font-size: 1.45rem;
    margin-bottom: 3rem;
}

.hero-buttons {
    display: flex;
    row-gap: 10px;
    column-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.hero-button {
    /*margin-right: 1.5rem;*/
    display: flex;
    justify-items: center;
    align-items: center;
}

.icon {
    margin-right: 7px;
    width: 1.3rem;
    height: 1.3rem;
}



