/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/

.container {
    position: sticky;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 999;
}

.menu-icon {
    visibility: hidden;
    display: none;
    cursor: pointer;
}

.navbar {
    height: 60px;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.name {
    background: -webkit-linear-gradient(var(--gradient-direction), var(--end-color), var(--start-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    transition: all 0.3s;
}

.name:hover {
    background: -webkit-linear-gradient(var(--gradient-direction), var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.nav-elements {
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 2rem;
}

.nav-elements ul a {
    font-size: 1rem;
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: 700;
}

.nav-elements ul a.blue-button {
    background-color: var(--blue-button-color);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.nav-elements ul a.active {
    color: var(--nav-text-color);
    font-weight: 800;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--nav-text-color);
}


@media (max-width: 900px) {
    .menu-icon {
        visibility: visible;
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        border-radius: 20px;
        height: 0;
        background-color: var(--blue-button-color);
        transition: all 0.3s;
        overflow: hidden;
    }

    .nav-elements.active {
        border: 1px solid var(--end-color);
        height: 40vh;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .nav-elements ul li {
        margin-left: 0;
        margin-top: 2rem;
    }

    .container .blue-button {
        margin-top: 2rem;
        position: relative;
        left: -10%;
    }
}


.home-blob {
    position: absolute;
    top: 0;
    right: 0;
    /*width: max(500px, 25%);*/
    /*min-width: 500px;*/
    z-index: -1;
}

